body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(128, 204, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#countdown-container {
    max-width: 400px;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 28px;
    color: rgb(33, 33, 33);
}

#countdown {
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
    color: rgb(26, 117, 255);
}

#progress-bar-container {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 20px;
}

#progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(26, 117, 255);
}

button {
    background-color: rgb(26, 117, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(77, 148, 255);
}
